
.vs/LootEverything/v16/.suo
.vs/LootEverything/v16/.suo
LootEverything/.vs/LootEverything/v16/.suo
LootEverything/bin/Debug/0Harmony.dll
LootEverything/bin/Debug/AmplifyMotion.dll
LootEverything/bin/Debug/Assembly-CSharp-firstpass.dll
LootEverything/bin/Debug/Assembly-CSharp.dll
LootEverything/bin/Debug/Boo.Lang.dll
LootEverything/bin/Debug/bsg.componentace.compression.libs.zlib.dll
LootEverything/bin/Debug/bsg.microsoft.extensions.objectpool.dll
LootEverything/bin/Debug/bsg.system.buffers.dll
LootEverything/bin/Debug/Cinemachine.dll
LootEverything/bin/Debug/Comfort.dll
LootEverything/bin/Debug/Comfort.Unity.dll
LootEverything/bin/Debug/CommonExtensions.dll
LootEverything/bin/Debug/DecalSystem.Runtime.dll
LootEverything/bin/Debug/DOTween.dll
LootEverything/bin/Debug/DOTween.Modules.dll
LootEverything/bin/Debug/ItemComponent.Types.dll
LootEverything/bin/Debug/ItemTemplate.Types.dll
LootEverything/bin/Debug/LibraryLoaderUtility.dll
LootEverything/bin/Debug/MelonLoader.dll
LootEverything/bin/Debug/Mono.Data.Sqlite.dll
LootEverything/bin/Debug/Mono.Messaging.dll
LootEverything/bin/Debug/Mono.Posix.dll
LootEverything/bin/Debug/Mono.Security.dll
LootEverything/bin/Debug/Mono.WebBrowser.dll
LootEverything/bin/Debug/Newtonsoft.Json.dll
LootEverything/bin/Debug/NLog.dll
LootEverything/bin/Debug/NLog.JET.dll
LootEverything/bin/Debug/Novell.Directory.Ldap.dll
LootEverything/bin/Debug/Polybrush.dll
LootEverything/bin/Debug/Sirenix.OdinInspector.Attributes.dll
LootEverything/bin/Debug/Sirenix.OdinInspector.CompatibilityLayer.dll
LootEverything/bin/Debug/Sirenix.Serialization.Config.dll
LootEverything/bin/Debug/Sirenix.Serialization.dll
LootEverything/bin/Debug/Sirenix.Utilities.dll
LootEverything/bin/Debug/SteamAudio.dll
LootEverything/bin/Debug/System.ServiceModel.Internals.dll
LootEverything/bin/Debug/Unity.MemoryProfiler.dll
LootEverything/bin/Debug/Unity.Postprocessing.Runtime.dll
LootEverything/bin/Debug/Unity.ProBuilder.dll
LootEverything/bin/Debug/Unity.ProBuilder.KdTree.dll
LootEverything/bin/Debug/Unity.ProBuilder.Poly2Tri.dll
LootEverything/bin/Debug/Unity.ProBuilder.Stl.dll
LootEverything/bin/Debug/Unity.Recorder.dll
LootEverything/bin/Debug/Unity.TextMeshPro.dll
LootEverything/bin/Debug/UnityEngine.AccessibilityModule.dll
LootEverything/bin/Debug/Unity.Timeline.dll
LootEverything/bin/Debug/UnityEngine.AIModule.dll
LootEverything/bin/Debug/UnityEngine.AnimationModule.dll
LootEverything/bin/Debug/UnityEngine.ARModule.dll
LootEverything/bin/Debug/UnityEngine.AssetBundleModule.dll
LootEverything/bin/Debug/UnityEngine.AudioModule.dll
LootEverything/bin/Debug/UnityEngine.BaselibModule.dll
LootEverything/bin/Debug/UnityEngine.ClothModule.dll
LootEverything/bin/Debug/UnityEngine.ClusterInputModule.dll
LootEverything/bin/Debug/UnityEngine.ClusterRendererModule.dll
LootEverything/bin/Debug/UnityEngine.CoreModule.dll
LootEverything/bin/Debug/UnityEngine.CrashReportingModule.dll
LootEverything/bin/Debug/UnityEngine.DirectorModule.dll
LootEverything/bin/Debug/UnityEngine.dll
LootEverything/bin/Debug/UnityEngine.FileSystemHttpModule.dll
LootEverything/bin/Debug/UnityEngine.GameCenterModule.dll
LootEverything/bin/Debug/UnityEngine.GridModule.dll
LootEverything/bin/Debug/UnityEngine.HotReloadModule.dll
LootEverything/bin/Debug/UnityEngine.ImageConversionModule.dll
LootEverything/bin/Debug/UnityEngine.IMGUIModule.dll
LootEverything/bin/Debug/UnityEngine.InputModule.dll
LootEverything/bin/Debug/UnityEngine.JSONSerializeModule.dll
LootEverything/bin/Debug/UnityEngine.LocalizationModule.dll
LootEverything/bin/Debug/UnityEngine.Networking.dll
LootEverything/bin/Debug/UnityEngine.ParticleSystemModule.dll
LootEverything/bin/Debug/UnityEngine.PerformanceReportingModule.dll
LootEverything/bin/Debug/UnityEngine.Physics2DModule.dll
LootEverything/bin/Debug/UnityEngine.PhysicsModule.dll
LootEverything/bin/Debug/UnityEngine.ProfilerModule.dll
LootEverything/bin/Debug/UnityEngine.ScreenCaptureModule.dll
LootEverything/bin/Debug/UnityEngine.SharedInternalsModule.dll
